 /* CUSTOM PROPY */
 :root {
    --color:#fff;
    --color-text:#69707D;
    --color-title:#1D2026;
    --color-links:#FF7E1B;
    --color-split-number:#FFAB6A;
    --color-price:#B6BCC8;
    --color-border:#E4E9F2;
    --color-perent:#FFEEE2;
    --color-counting:#F6F8FD;
    --font:'Kumbh Sans', 'Arial', sans-serif;
}


/* FONTS */
@font-face {
    font-family: 'Kumbh Sans';
    src: url('../font/KumbhSans-Bold.woff2') format('woff2'),
    url('../font/KumbhSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kumbh Sans';
    src: url('../font/KumbhSans-Regular.woff2') format('woff2'),
    url('../font/KumbhSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* GLOBAL-STYLE */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    background-color: var(--color);
    color: var(--color-text);
    font-family: var(--font);
}

*:focus {
    outline-color: var(--color-links);                             
    outline-offset: 2px;
    outline-width: 3px;
    outline-style: dashed;
}

img {
    max-width: 100%;
    height: auto;
}

/* .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} */

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.container-add {
    width: 100%;
    max-width: 1055px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* SITE HEADER */
.site-header__container {
    display: flex;
    align-items: center;
    border-bottom: 3px solid var(--color-border);
}

.site-header__logo {
    display: flex;
    flex-shrink: 0;
    width: 137px;
    height: 20px;
    margin-right: 56px; 
    transition: 0.2s ease;
}

.site-header__logo:hover {
    opacity: 0.6;
}

.site-header__logo:active {
    opacity: 0.8;
}

.site-header__logo--img {
    width: 137px;
    height: 20px;
    object-fit: contain;
    display: block;
}

.sitenav__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 409px;
}

.sitenav__iteam {
    position: relative;
    padding-top: 47px;
    padding-bottom: 41px;
}

.sitenav__iteam:not(:last-child) {
    margin-right: 32px;
}

.sitenav__link {
    display: block;
    text-decoration: none;
    color: var(--color-text);
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.2s ease;
}

.sitenav__link::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    opacity: 0;
    background-color: var(--color-links);
}

.sitenav__link:hover::after {
    opacity: 1;
}

.sitenav__link:hover {
    color: var(--color-title);
}

.site-header__link-wrapper {
    display: flex;
    align-items: center;
}

.site-header__link {
    display: flex;
    margin-right: 46px;
    width: 21px;
    height: 20px;
    color: var(--color-text);
    cursor: pointer;
}

.site-header__link:hover {
    color: var(--color-title);
}

.site-header__img {
    display: flex;
    flex-shrink: 0;
    cursor: pointer;
}
.site-header__photo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 3px solid transparent;
}

.site-header__photo:hover {
    border:3px solid var(--color-links);
    border-radius: 50%;
}


/* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
}

/* SNEAKERS-DATA */
.sneakers-data {
    padding-top: 81px;
    padding-bottom: 132px;
}
.sneakers-data__wrapper {
    display: flex;
    align-items: center;
}
.sneakers-data__img-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 125px;
}

.sneakers__img {
    display: block;
    object-fit: cover;
    min-height: 445px;
    min-width: 445px;
    margin-bottom: 40px;
    border-radius: 15px;
}

.sneakers-data__images {
    display: flex;
    align-items: center;
}

.sneakers-data__photos {
    object-fit: cover;
    width: 88px;
    height: 88px;
    border-radius: 10px;
    border: 2px solid transparent;
}

.sneakers-data__photos:hover {
    opacity: 0.2;
}

.sneakers-data__photos:active {
    opacity: 0.4;
    border: 3px solid var(--color-links);
}

.sneakers-data__photos:not(:last-child) {
    margin-right: 31px;
}
.sneakers-data__list {
    max-width: 445px;
}
.sneakers-data__info {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.sneakers-data__title {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--color-links);
    margin-bottom: 24px;
}
.sneakers-data__heading {
    font-weight: 700;
    font-size: 44px;
    line-height: 48px;
    color: var(--color-title);
    margin: 0;
    margin-bottom: 33px;
}

.sneakers-data__text {
    margin: 0;
    margin-bottom: 24px;
}

.sneakers-data__numbers {
    display: flex;
}

.sneakers-data-number {
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: var(--color-title);
    margin-right: 23px;
    margin-bottom: 3px;
}
.sneakers-data-percent {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 7px 8px;
    color: var(--color-links);
    background-color: var(--color-perent);
    border-radius: 6px;
}
.sneakers-data__currency {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-price);
    text-decoration: line-through;
    margin-bottom: 32px;
}
.sneakers-data__counting {
    display: flex;
    align-items: center;
}
.counting {
    display: flex;
    align-items: center;
    padding: 0;
    margin-right: 16px;
    background-color: var(--color-counting) ;
    border-radius: 10px;
    white-space: nowrap;
    padding: 16px 22px;
}
.counting__split {
    padding: 0;
    border: none;
    background-color: transparent;
    color: var(--color-split-number);
}
.caunting-number {
    padding-left: 45px;
    padding-right: 45px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: var(--color-title);
}
.caunting-add {
    padding: 0;
    border: none;
    background-color: transparent;
    color: var(--color-split-number);
}
.sneakers-data__links {
    display: flex;
    align-items: center;
    padding: 19px 73px 19px 75px;
    background-color: var(--color-links);
    color: var(--color);
    box-shadow: 0px 20px 50px -20px #FF7E1B;
    border-radius: 10px;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

.sneakers-data__links:hover {
    opacity: 0.6;
}

.sneakers-data__links:active {
    opacity: 0.8;
}

.sneakers-data__basket {
    width: 17px;
    height: 16px;
    object-fit: contain;
    margin-right: 15px;
}
.sneakers-data__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}